
        .specialjum {
            background: rgb(133, 195, 245);
            background-size: cover;
            /* min-height: 600px; */
        }

        H1 {
            font-family: 'Modern Antiqua', cursive; 
        }

        H2 {
            font-family: 'Scope One', serif;
        }

        .input-group-btn {
            margin : 20px;
        }


