div {
    padding: 10px 10px;
}

#item-link, #drink-link {
    /* display: block; */
    color: gold;
    font-weight: bolder;
}

.item-image, .drink-image {
    /* max-width: 17rem;
    max-height: 17rem; */
    margin-bottom: 30px;
    width:100%;
    height:auto;
}


